[cors]
origins = https://couchdb.atardecer-naranja.es
credentials = true
methods = GET, PUT, POST, HEAD, DELETE
headers = accept, authorization, content-type, origin, referer, user-agent

[chttpd]
enable_cors = true
