auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /loki
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory
  compactor_address: 127.0.0.1

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/boltdb-cache
    cache_ttl: 168h
  filesystem:
    directory: /loki/chunks

ruler:
  rule_path: /loki/rules
  storage:
    type: local
    local:
      directory: /loki/rules
  ring:
    kvstore:
      store: inmemory
  enable_api: true

compactor:
  working_directory: /loki/boltdb-shipper-compactor

limits_config:
  allow_structured_metadata: false
  ingestion_rate_mb: 8
  ingestion_burst_size_mb: 16
  per_stream_rate_limit: 10485760
  per_stream_rate_limit_burst: 20971520
  max_query_length: 720h
  max_query_parallelism: 32
  retention_period: 720h
  reject_old_samples: true
  reject_old_samples_max_age: 336h
